main {
  width: 30%;
  font-family: sans-serif;
  padding: 2%;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1 {
  color: #4a86e8;
  font-weight: normal;
  font-size: 2.5em;
  margin: 0;
}

h2 {
  font-weight: normal;
}

input[type="text"] {
  width: 100%;
}

button {
  background-color: #4a86e8;
  color: #ffffff;
  border: none;
  padding: 0.5em 2em;
  border-radius: 0.2em;
}

/* Configuration list */
.configuration-list {
  margin: 3em 0;
}

/* Configuration item */
.configuration-item--edit-mode {
  background: #eeeeee;
  padding: 0.5em;
  border-radius: 0.4em;
}

.configuration-item--left-column {
  width: 60%;
}

.configuration-item--label {
  margin-right: 0.5em;
}

.configuration-item--key:hover {
  color: #4a86e8;
  cursor: pointer;
}

.configuration-item--row {
  display: flex;
  margin: 1em 0;
}

.configuration-item--row-head {
  width: 3.5em;
}

.configuration-item--row-head--large {
  flex: 2;
}

.configuration-item--row-body {
  flex: 1;
}

.configuration-item--row-body ul {
  display: flex;
}

.configuration-item--row-body ul li {
  margin-right: 1em;
}

.configuration-item--row-tail {
  display: flex;
  flex-direction: row-reverse;
}

/* Color preview */
.color-preview {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-left: 0.5em;
  border: 2px solid gray;
  border-radius: 0.2em;
}
